@font-face {
  font-family: 'WinFont';
  src: url("fonts/W95FA.otf") format("opentype");
}

:root {
  --clr1: #BFC0C0; 
  --clr2: #4F5D75; 
  --clr3: whitesmoke; 
  --clr4: #FFFFFF; 
  --clr5: #2D3142; 
  --clr6: #EF8354; 
}



html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*background-color: black;*/
  background-color: teal;
}
body{
  /*background-image: url(wallpaper5.png);
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;*/
  cursor:url(cursors/arrow.cur),auto;
}

.desktop_icon {
  background: none;
  border: 1px dotted transparent;
  padding: 4px;
  margin: 4px;
  cursor:url(cursors/click.cur),auto;
}

.desktop_icon_img {
  width: 50px;
  height: 50px;
  cursor:url(cursors/click.cur),auto;
}

.desktop_icon_txt {
  margin: 0px;
  color: white;
  font-family: 'WinFont';
  cursor:url(cursors/click.cur),auto;
}

.drag_header_text {
	text-align: left;
  margin-left: 2px;
  font-family: 'WinFont';
}

.drag_header_img {
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
  margin-left: 4px;
}

.drag_header_controls {
  padding-right: 2px;
  float: right;
}

footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 22px;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  display: inline;
}

#start_menu {
  height: 20px;
  width: auto;
  margin-top: 1px;
  text-align: left;
  background-color: #c0c0c0;
  cursor:url(cursors/click.cur),auto;
}

#menu_imgs {
  height: 13px;
  width: auto;
  display: inline;
  cursor:url(cursors/click.cur),auto;
}

#start_menu_text {
  display: inline;
  font-family: 'WinFont';
  cursor:url(cursors/click.cur),auto;
}

.toggle_btn {
  display: none;
  height: 20px;
  width: auto;
  margin-top: 1px;
  background-color: #c0c0c0;
  margin-left: 2px;
  cursor:url(cursors/click.cur),auto;
}


.btn_txt {
  display: inline;
  font-family: 'WinFont';
  position: relative;
  bottom: 1px;
  cursor:url(cursors/click.cur),auto;
}

.x_btn {
  background-color: #c0c0c0;
	color: black;
	padding: 0;
	font-family: 'WinFont';
	outline: inherit;
  right: 0;
  width: 15px;
  height: 15px;
  cursor:url(cursors/click.cur),auto;
}

.minimize_btn {
  background-color: #c0c0c0;
  color: black;
  padding: 0;
  font-family: 'WinFont';
	outline: inherit;
  right: 0;
  width: 15px;
  height: 15px;
  cursor:url(cursors/click.cur),auto;
}


.dragdiv h1 {
  color: #BFC0C0;
}

.dragdiv {
  height: auto;
  width: auto;
  position: absolute;
  background-color: #c0c0c0;
  text-align: center;
  /*box-shadow: 0em 0em 5em -1em rgba(0,0,0,0.2);*/
  border-style: solid;
  border-width: 2px;
  border-color: #a7a7a7;
  outline: 1px solid #c0c0c0;
  overflow: hidden;
  display: grid;
  cursor:url(cursors/move.cur),auto;
}

.dragdivheader {
  padding: 0px;
  cursor: move;
  background-color: #7f7f7f;
  color: whitesmoke;
	display: block ruby;
  text-align: left;
  cursor:url(cursors/move.cur),auto;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */   
  
  box-shadow: 0em 0em 1em 0em rgba(0,0,0,0.5);
}

.b {
  background-color: #2D3142;
}

.c {
  background-color: #4F5D75;
}


/* Buttons */
